.login-btn {
    position: absolute;
    top: 20px;
    right: 24px;

    .success {
        display: flex;
        flex-direction: column;

        &__text {
            font-family: "Roboto", sans-serif;
        }

        &__btn {
            // display: block;
            margin-top: 5px;
            background-color: #00afc8;
            color: white;
            font-size: 1.2rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        &__btn:hover {
            background-color: white;
            color: #00afc8;
            border: 2px solid #00afc8;
        }
    }
}
