@import './styles/reset.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf') format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}